<div class="blog">
  <a href="<%= blog_path(blog) %>">
    <div class="blog_image">
        <%= image_tag blog.image_url, size: "300x200", alt: blog.name %>
      <% if blog.image_url %>
      <% else %>
        <span><%= blog.name %></span>
      <% end %>
      <%= render partial: 'shared/follow_form', locals: { blog: blog }%>
    </div>
  </a>
</div>
