.leftnav{
  position: relative;
  width: 25%;
  height: 100%;
  float:left;
  border-right-style: solid;
  border-right-color: orange;

}

ul.song_table{
  position: relative;
  float:left;
  padding: 0px;
  margin: 0px;
}

table {
  width: 400px;
  float: left;
  position: fixed;
}

table th a{
  text-decoration: none;
}

.songs_table{
  float: left;
  height: 60%;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  top: 25px;
}

.songs {
  position: relative;
}
.music_player {
  position: relative;
  top:20px;
  width: 430px;
}

ul {
  list-style-type: none;
  margin: 10px;
}

.nav-main li a {
  position: relative;
  text-decoration: none;
  font-size: 200%;
}

.nav-main li {
  margin-bottom: 5px;
}

ul.nav-main li span {
  float: left;
  position: absolute;
  width: 17px;
  height: 35px;
  background: url(subnav_btn.gif) no-repeat center top;
}

ul.nav-main li ul.subnav {
  position: relative;
  /*left: 0px; top: 35px;*/
  left: 20px;
  background: #333;
  margin: 0; padding: 0;
  display: none;
  float: left;
  width: 170px;
  border: 1px solid #111;
}

ul.nav-main li span.subhover { background-position: center bottom bottom; cursor: pointer;}

.nav {
  color: orange;
}

h1, a, p, h2, h3, td, th, button, input  {
  color: black;
}

#new_playlist {
  display: none;
}
.home-nav:hover {
  color: #0057AE;
}

.blogs-nav:hover {
  color: orange;
}

.stream-nav:hover {
  color:#69CF26;
}

.library-nav:hover {
  color:pink;
}

.playlists-nav:hover {
  color:#732A9F;
}
