body{
  background-color: #202020;
}

.container {
  width: 50%;
  height: 100%;
  margin: 0px auto;
}

.leftnav{
  width: 20%;
  position: fixed; 
  top: 100px;
  left: 150px;
}

.songs_table{
  width: 100%;
  position: relative;
}

.songs {
  width: 100%;
  height: 100%;
  position: relative;
}
.music_player {
  position: relative;
  top:20px;
  width: 430px;
}

ul {
list-style-type: none;

}

.nav-main li a {
text-decoration: none;
font-size: 3em;
}

.nav {
color: grey;
}

h1, a, p, h2, h3, td, th, button, input  {
color: grey;
}

.home-nav:hover {
  color: blue;
}

.blogs-nav:hover {
  color: orange;
}

.stream-nav:hover {
  color:#69CF26;
}

.library-nav:hover {
  color:pink;
}

.playlists-nav:hover {
  color:#732A9F;
}
