.leftnav{
  position: relative;
  float:left;
  height: 100%;
  border-right-style: solid;
  border-right-color: orange;

}

.music_player {
  position: relative;
  top:20px;
  width: 430px;
}

ul {
  list-style-type: none;
  margin: 10px;
}

.nav-main li a {
  position: relative;
  text-decoration: none;
  font-size: 200%;
}

.nav-main li {
  margin-bottom: 5px;
}

ul.nav-main li span {
  position: relative;
  float: right;
  /*position: absolute;*/
  /*top: 0px;*/
  right: 0px;
  right: 0px;
  height: 17px;
  width: 20px;
  background-image: url(arrowicons.png);
  background-color: #283136;
}

ul.nav-main li span.up:hover {
  background-position: 20px 0px;
  cursor: pointer;
}

ul.nav-main li span.down {
  background-position: 0px -20px;
}

ul.nav-main li span.down:hover {
  background-position: 20px -20px;
  cursor: pointer;
}

ul.nav-main li ul.subnav {
  position: relative;
  margin: 0; padding: 0;
  display: none;
  float: left;
  width: 170px;
  border: 1px solid #111;
}

.nav {
  color: orange;
}

h1, a, p, h2, h3, td, th, button, input  {
  color: black;
}

#new_playlist {
  display: none;
}
.home-nav:hover {
  color: #0057AE;
}

.blogs-nav:hover {
  color: orange;
}

.stream-nav:hover {
  color:#69CF26;
}

.library-nav:hover {
  color:pink;
}

.playlists-nav:hover {
  color:#732A9F;
}
