.music_player2 a{
  width: 50px;
  height: 50px;
  float: left;
  z-index: 9999999999;
}
.player_play, .player_prev{

  margin-left: 15px;
}
.player_next{
  margin-left: 8px;
}

.player_prev{
  background-image: url("player_prev_button_50.png");
  background-repeat: no-repeat;
}

.player_play{
  background-repeat: no-repeat;

  background-image: url("player_play_button_50.png");
}

.player_next{

  background-repeat: no-repeat;
  background-image: url("player_next_button_50.png");
}

.player_pause{

  background-repeat: no-repeat;
  background-image: url("player_pause_button_50.png");
}
