.song_table {
  position: absolute;
}
.song_container {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  float: left;

}


.play_like, .title_artist,
.song_like, .song_play
{
  position: relative;
  float: left;
  margin-left: 5px;
}

.blog_follow, .blog_name, .song_blog {
  margin-left: 3px;
  float: right;
}

.song_play {
  width: 16px; 
  height:16px;
}

.not-playing {

  background-image: url("play_button_16.jpg");

}
.paused {

  background-image: url("play_button_16.jpg");

}

.playing {

  background-image: url("pause_button_16.jpg");
}

