.song_table {
  position: relative;
}
.song_container {
  position: relative;
  width: 100%;
  float: left;
}
.odd-song{
  background-color: #FFE1CC;
}
.even-song{
  background-color: #FFC887;
}


.play_like, .title_artist,
.song_like, .song_play
{
  position: relative;
  float: left;
  margin-top: 5px;
  margin-left: 5px;
}



.blog_follow, .blog_name, .song_blog {
  margin-left: 3px;
  float: right;
}

.song_play, .like_button, .unlike_button {
  width: 16px; 
  height:16px;
}

.not-playing {
  background-image: url("play_button_16.jpg");
}

.playing {
  background-image: url("pause_button_16.jpg");
}


